# -*- coding: utf-8-dos -*-
#
# .gitignore
#

.*
*~
*#
*.elc
*.zip
*.tar
*.gz
*.tgz
*.swp

BKUP.*

/desktop.ini
/.gitconfig
/.viminfo
/.wgetrc
/.less*
/.bash_history
/.history
/.bm-repository
/.minttyrc*
/.howm-*

/work/
/srcs/
/_/
/bin/
/tmp/
/howm/
/vimfiles/
/.qttabbar/
/.gnupg/
/.navi2ch/
/.config/
/.local/
/.nvm/
/.android/
/.cpan/
/perl5/
/.subversion